<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :programs do |builder| %>
    <% render 'programSelector', :p => builder %>
  <% end %>

  <%= f.fields_for :reports do |builder| %>
    <% render 'reportSelector', :r => builder %>
  <% end %>

  <div class="field">
    <div class="control-group">
      <%= f.label :report_type, "Form name of this report", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :report_type, :placeholder=>"QR-7, etc." %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control-group">
      <%= f.label :humanname, "Description of this report", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :humanname %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control-group">
      <%= f.label :program_id, "Select a program for this report", :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :program_id, Program.all, :id, :name %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control-group">
        <%= f.label :messagetext, "Reminder message text", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :messagetext, :rows=>5 %>
        </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class=>'btn btn-primary' %>
  </div>
<% end %>
