<%= debug @message %>

<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.fields_for :reports do |builder| %>
    <% render 'reportSelector', :r => builder %>
  <% end %>

  <div class="field" id="<%= :message_text %>">
    <div class="control-group">
        <%= f.label :message_text, "Reminder message text", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :message_text, :rows=>5 %>
        </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class=>'btn btn-primary' %>
  </div>
<% end %>
