<div class="field">
  <div class="control-group">
    <label class="control-label" for="reportName">Choose a report for the message</label>
    <div class="controls">
      <%= r.collection_select :report_id, Report.all, :id, :humanname %>
    </div>
    <span class="help-inline">
      <%= link_to 'Or create', new_report_path %>
    </span>
  </div>
</div>

  <div class="field">
    <div class="control-group">
      <%= r.label :report_type, "Form name of this report", :class => 'control-label' %>
      <div class="controls">
        <%= r.text_field :report_type, :placeholder=>"QR-7, etc." %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control-group">
      <%= r.label :humanname, "Description of this report", :class => 'control-label' %>
      <div class="controls">
        <%= r.text_area :humanname %>
      </div>
    </div>
  </div>