<% @report.each do |report| %>
<h2>Report name:</h2> <%= report.report_type %>
  <% report.messages.each do |message| %>
    <td><%= message.type %></td>
    <td><%= message.messagetext %></td>
    <td><%= message.report_id %></td>
    <td><%= message.send_date %></td>
  <% end %>
    <td><%= link_to 'Show', report %></td>
    <td><%= link_to 'Edit', edit_report_path(report) %></td>
<% end %>

<br />

<%= link_to 'New report', new_report_path %>
