<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @message.type %>
</p>

<p>
  <b>Message:</b>
  <%= @message.message %>
</p>

<p>
  <b>Report:</b>
  <%= @message.report_id %>
</p>

<p>
  <b>Send date:</b>
  <%= @message.send_date %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
