<div class="row-fluid">
  <div class="span8">
    <%= simple_form_for [@reminder] do |f| %>
      <% if @reminder.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this report from being saved:</h2>
          <ul>
          <% @reminder.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.input :name, label: "Name", input_html: { class: 'span6' } %>
      <%= f.input :message_text, as: :text, label: "Message text", input_html: { maxlength: 160, class: 'span6', rows: 5 } %> 
    <div class="characterCount offset3 span6">Characters left: <span id="char-count">160</span></div>
  </div>
  <div class="span4">
    <div class="sidebar">
      <div class="mainHeaderGray">
        <span class="grayHighlight">Reminder Details</span>
      </div>
      <p>Reminder time</p>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span">
     <div class="actions">
        <%= f.submit 'Save and attach recipients', :class => 'btn btn-primary', :id => "reminderNew" %>
        <%= link_to 'Cancel', reminders_path %>
      </div>
    <% end %>
  </div>
</div>

