<%= semantic_form_for [@reminder] do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
      <div class="control-group">
        <%= f.label :name, "Name of this reminder", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
    </div>

  <%= f.fields_for :programs do |builder| %>
    <% render 'programSelector', :p => builder %>
  <% end %>
  <%= link_to_add_fields "Add program", f, :programs %>

  <%= f.fields_for :reports do |builder| %>
    <% render 'reportSelector', :r => builder %>
  <% end %>
  <%= link_to_add_fields "Add report", f, :reports %>

  <%= f.fields_for :messages do |builder| %>
  <div class="field" id="<%= :message_text %>">
    <div class="control-group">
        <%= builder.label :message_text, "Reminder message text", :class => 'control-label' %>
        <div class="controls">
          <%= builder.text_area :message_text, :rows=>5 %>
        </div>
    </div>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
