<%= form_for [@reminder] do |f| %>
  <% if @reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @reminder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
      <div class="control-group">
        <%= f.label :name, "Name of this reminder", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
    </div>

  <div class="field">
  <div class="control-group">
    <label class="control-label" for="programName">Choose a program for the reminder</label>
    <div class="controls">
      <%= f.collection_select :program_id, Program.all, :id, :name %>
    </div>
  </div>
</div>

<div class="field">
  <div class="control-group">
    <label class="control-label" for="reportName">Choose a report for the reminder</label>
    <div class="controls">
      <%= f.grouped_collection_select :report_id, Program.order(:name), :reports, :name, :id, :report_type %>
    </div>
    <span class="help-inline">
    </span>
  </div>
</div>

<div class="field">
  <div class="control-group">
    <label class="control-label" for="reportCreate">Create a new report</label>
    <div class="controls">
    </div>
  </div>
</div>
  
<div class="field">
  <div class="control-group">
    <%= f.label :message_text, "Text for this reminder", :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :message_text %>
    </div>
  </div>
</div>
  

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
