<div class="row-fluid">
  <div class="span12" id="message">
    <%= simple_form_for @reminder  do |f| %>
      
      <% if @reminder.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

          <ul>
          <% @reminder.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  <%= f.input :recipient_id, as: :hidden %><!-- adds the recipient_id as a param so we can add it manually -->


  <%= render 'add_message', :f => f %>
</div><!-- message -->


<div class="row-fluid" id="recipients">
  <div class="span12">
    <%= render 'add_recipients', :f => f %>
  </div>
</div><!-- recipients -->

<div class="row-fluid" id="date-and-time">
  <div class="span12">
    <%= render 'add_datetime', :f => f %>
  </div>
</div>

<div class="row-fluid" id="submit">
  <div class="span12">

    <%= f.submit :class => 'btn btn-primary' %>
    <% end %> <!-- /form -->
  </div>
</div>