<div class="row-fluid">
  <div class="span8">
    <%= simple_form_for @reminder  do |f| %>
      <% if @reminder.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

          <ul>
          <% @reminder.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <%= render 'message_fields' %>
      <%= render :partial => 'add_existing_recipients', :locals => {:f => f} %>
      <%= render 'manual_add_recipients' %>

      <div class="actions">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>  
    </div>
    <%= render 'batch_import' %>
  <% end %>
  </div>
