<%= fields_for :message do |builder| %>
    <div class="control-group">
      <%= builder.label :name, "Message name", :class => 'control-label' %>
      <div class="controls">
      <%= builder.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= builder.label :message_text, "Message text", :class => 'control-label' %>
      <div class="controls">
        <%= builder.text_area :message_text, :rows=>3 %>
      </div>
    </div>
<% end %>
