<fieldset>
  <div class="field">
    <div class="control-group">
      <%= f.label :report_type, "Form name of this report", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :report_type, :placeholder=>"QR-7, etc." %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control-group">
      <%= f.label :humanname, "Description of this report", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :humanname, :rows=>5 %>
      </div>
    </div> 
  </div>
  <div class="field">
    <div class="control-group">
      <%= f.label :program_id, "Select a program for this report", :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :program_id, Program.all, :id, :name %>
      </div>
    </div>
  </div>
</fieldset>
<%= link_to "Cancel", '#', class: "cancel btn btn-danger btn-small" %>