<fieldset>
  <div class="field">
      <div class="control-group">
        <%= f.label :report_type, "Form name of this report", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :report_type, :placeholder=>"QR-7, etc." %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="control-group">
        <%= f.label :humanname, "Description of this report", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :humanname, :rows=>5 %>
        </div>
      </div> 
    </div>
    <div class="field">
    <div class="control-group">
      <%= f.fields_for :message do |message| %>
        <div class="control-group">
        <%= message.label :message_text, "Reminder message text", :class => 'control-label' %>
          <div class="controls">
            <%= message.text_area :message_text, :rows=>5 %>
          </div>
        </div>
    <% end %>
    </div>
  </div>
  </fieldset>
  <div>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove report", '#', class: "remove_fields btn btn-danger btn-small" %>
  </div>