<div class="container">
  <div class="row-fluid">

		<p id="notice"><%= notice %></p>

		<div class="mainHeaderGray">
			<span class="grayHighlight"><b>Name:</b> <%= @reminder.name %></span>
		</div>
		<p>
		  <b>Reminder text:</b>
		  <%= @reminder.message_text %>
		</p>

		<p>

		<%= render :partial => "programs", :collection => @program || "No programs yet." %>
		<%= render "reports" %>


		<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
		<%= link_to 'Back', reminders_path %>
	</div>
</div>