<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @reminder.type %>
</p>

<p>
  <b>Reminder:</b>
  <%= @reminder.reminder %>
</p>

<p>
  <b>Programs:</b>
  <%= @program %>
<p>
  <b>Reports:</b>
  <%= @reports %>
</p>


<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
