<p id="notice"><%= notice %></p>

<%= @reminder.inspect %>
<%= @reminder.program %>
<%= @reminder.report %>

<p>
  <b>Name:</b>
  <%= @reminder.name %>
</p>

<p>

<p>
  <b>Program:</b>
  <%= @reminder.program.name %>
<p>
  <b>Report:</b>
  <%= @reminder.report.report_type %>
</p>


<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
