<div class="row">
  <div class="pageHeader span11">
    <div class="small-7">
      <span class="pageTitle"><h2>Dashboard</h2></span>
    </div>
    <div class="small-3">
      <%= link_to 'Schedule a reminder', new_admin_organization_reminder_path(@organization), :class => 'button' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <div class="headerSmall headerAqua">
      <span class="headerText">Upcoming reminders</span>
    </div>
      <div><%= link_to 'View all', admin_organization_reminders_path(@organization), :class => 'button secondary tiny right' %></div>
    <div class="conversation">
      <%= render 'upcoming_reminders', object: @upcoming || 'There are no upcoming reminders' %>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="headerSmall headerGreen">
      <span class="headerText">Sent reminders</span>
    </div>
    <div><%= link_to 'View all', admin_organization_reminders_path(@organization), :class => 'button secondary tiny right' %></div>
    <div class="conversation">
      <%= render 'sent_reminders', object: @conversations || 'There are no sent reminders' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <div class="headerSmall headerGreen">
      <span class="headerText">Responses</span>
    </div>
    <div><%= link_to 'View all', admin_organization_conversations_path(@organization), :class => 'button secondary tiny right' %></div>
    <div class="conversation">
      <%= render 'responses' || 'There are no responses' %>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="headerSmall headerRed">
      <span class="headerText">Undelivered reminders</span>
    </div>
    <div><%= link_to 'View all', admin_organization_conversations_path(@organization), :class => 'button secondary tiny right' %></div>
    <div class="conversation">
      <%= render 'undelivered' || 'There are no upcoming reminders' %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <div class="headerSmall headerAqua">
      <span class="headerText">Calls</span>
    </div>
    <div class="conversation">
      <%= render 'calls' || 'There are no calls' %>
    </div>
  </div>
</div>