<p id="notice"><%= notice %></p>

<p>
  <b>Date sent:</b>
  <%= @conversation.date %>
</p>

<p>
  <b>Message:</b>
  <%= @conversation.message %>
</p>
<p>
	<b>To number:</b>
  <%= @conversation.to_number %>
</p>
<p>
	<b>From number:</b>
  <%= @conversation.from_number %>
</p>


<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
