<div class="row-fluid">
<h3>Programs</h3>
</div>
<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Reports</th>
        </tr>
      </thead>

      <% @programs.each do |program| %>
        <tr>
          <td><%= link_to program.name, program %></td>
          <td><%= program.description %></td>
          <td>
            <% program.reports.each do |report| %>
              <%= report.report_type %><br />
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_program_path(program), :class=>'btn btn-mini' %>  <%= link_to 'Delete', program, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-mini' %></td>
        </tr>
      <% end %>
      </table>
    <div class="dumbPadding"><%= link_to 'New program', new_program_path, :class=>'btn btn-primary' %></div>

  </div>
</div>
