<%= render 'breadcrumb' %>
<% render 'sorting' %>

<div class="row-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Message Text</th>
        <th>Number of Recipients</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
      <tr>
        <td><%= link_to message.name, [:admin, message] %></td>
        <td><%= message.message_text %></td>
        <td></td>
        <td>
          <%= link_to 'Edit', edit_admin_message_path(message), :class=>'btn btn-mini' %>
          <%= link_to 'Delete', [:admin, message], method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-mini' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Create message', new_admin_message_path, :class => 'btn btn-primary' %>
</div>

<script>
  $('.dropdown-toggle').dropdown()
</script>
