<div class="row">
	<div class="small-12 columns">
		<h3>Message Info</h3>
		<table class="small-9 columns">
		  <thead>
		    <tr>
		      <th>Message Name</th>
		      <th>Message Text</th>
		      <th>Date Created</th>
		      <th>Date Updated</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td><%= @message.name %></td>
		      <td><%= @message.message_text %></td>
		      <td><%= @message.created_at %></td>
		      <td><%= @message.updated_at || "No updates" %></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<%= link_to 'EDIT MESSAGE', edit_admin_organization_message_path(@organization.id, @message), :class => 'button' %><br>
	</div>
	<div class="small-12 columns backto">
			<%= link_to '< Back to All Messsages', admin_organization_messages_path(@organization.id) %>
	</div>
</div>
