<div class="container">
	<div class="row-fluid">
		<div class="span12 headerBig headerGreen">
			<span class="headerText">message</span>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="headerSmall headerGray">
				<span class="headerText">Text Message Preview</span>
			</div>
			<p>Message Name: <b><%= @message.name %></b></p>
			<p>
			  <span class="well messagetext">Message text: <%= @message.message_text %></span>
			</p>
			<div class="headerSmall headerGray">
				<span class="headerText">Date Created</span>
			</div>
			<p><%= @message.created_at %></p>
			<div class="headerSmall headerGray">
				<span class="headerText">Date Updated</span>
			</div>
			<p><%= @message.updated_at || "No updates" %></p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<%= link_to 'Edit message', edit_organization_message_path(@organization,@message), :class => 'btn btn-primary' %>
			<%= link_to 'Back', organization_messages_path(@organization) %>
		</div>
	</div>
</div>
