<div class="row">
	<div class="small-12 columns headerBig headerGreen">
		<span class="headerText">Message</span>
	</div>
</div>
<div class="row">
	<div class="small-12">
		<div class="headerSmall headerGray">
			<span class="headerText">Text Message Preview</span>
		</div>
		<p>Message Name: <b><%= @message.name %></b></p>
		<p>
		  <span class="well messagetext">Message text: <%= @message.message_text %></span>
		</p>
		<div class="headerSmall headerGray">
			<span class="headerText">Date Created</span>
		</div>
		<p><%= @message.created_at %></p>
		<div class="headerSmall headerGray">
			<span class="headerText">Date Updated</span>
		</div>
		<p><%= @message.updated_at || "No updates" %></p>
	</div>
</div>
<div class="row">
	<div class="small-12">
		<%= link_to 'Edit message', edit_admin_organization_message_path(@organization.id, @message), :class => 'button' %>
		<%= link_to 'Back', admin_organization_messages_path(@organization.id) %>
	</div>
</div>
