<div class="row-fluid">
	<div class="mainHeaderGreen">
		<span class="greenHighlight"><%= @group.name %></span>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<%= content_tag :div, "", class: "chart", id: "sent_chart", data: {sent: chart_data(start_date = Date.today.beginning_of_month, end_date = Date.today, "date", Conversation)} %>
	</div>
</div>

<div class="row-fluid">	
	<div class="span8">
		<table class="table table-bordered datatable">
			<thead>
			<tr>Recipient Phone</tr>
			</thead>
			<tbody>
			<% @group.recipients.each do |recipient| %>
				<tr>
					<td><%= link_to number_to_phone(recipient.phone, :area_code => true), recipient %></td>
				</tr>
			<% end %>
		</tbody>
	 </table>
	</div>
</div>
<div class="row-fluid">

  <div class="span8">
    <div class="span12 mainHeaderAqua">
      <span class="aquaHighlight">Group History</span>
    </div>
    <div class="conversation">
      <% if @group_conversations %>
        <%= render(:partial => 'shared/show_conversation', :collection => @group_conversations, :as => :conversation) %>
      <% else %>
       <span>No messages.</span>
      <% end %>
    </div>
  </div>

  <div class="span4 sidebar">
    <div class="span12 mainHeaderAqua">
      <span class="aquaHighlight">Queued Reminders</span>
    </div>
    <div class="queued">
      <%= render(:partial => 'shared/queued_reminders', :collection => @group_reminders, :as => :reminder) || 'No queued reminders.' %>
    </div>
  </div>

</div>
<div class="row_fluid">
	<div>
		<%= link_to 'Back', groups_path %>
	</div>
</div>
