<div class="row">
	<div class="small-9 nine columns heading">
  		<h3>Forgot your password?</h3>
  	</div>
  	<div class="small-6 six end columns">
  		<p>Don't worry it happens sometimes. Just enter the email you used to create this account.</p>

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="control-group">
		  	<%= f.label :email, :class => 'control-label' %>
		  	<div class="controls">
			  	<%= f.email_field :email, :autofocus => true %>
			  </div>
			</div>

		  <div class="control-group">
		  	<div class="controls">
		  		<%= f.submit "RESET PASSWORD", :class => 'button' %>
		  	</div>
		  	<div class="controls">
		  		<%= render "devise/shared/links" %>
		  	</div>
		  </div>
		<% end %>
	</div>
</div>