<div class="row-fluid">
  <div class="span11">
    <div class="dash-title">DASHBOARD&nbsp;<span class="dash-subtitle">ALL ORGANIZATIONS</span></div>
  </div>
</div>
<div class="dashboard-wrapper">
  <div class="row-fluid">
    <div class="headerSmall">
      <span class="headerText headerDate"><%= DateTime.now.strftime("%B %Y") %></span>
    </div>
    <div class="span2">
      <div class="upcoming-number">
        <div class="big-number"><%= @upcoming.count %></div>
        <div>Upcoming<br/><%= 'Reminder'.pluralize(@upcoming.count) %></div>
      </div>
    </div>
    <div class="conversation span8">
      <%= render 'admin/superdashboard/upcoming_reminders' || 'There are no upcoming reminders' %>
    </div>
  </div>
  <div class="row-fluid headerBorder">
    <div class="headerSmall">
      <span class="headerText headerDate"><%= DateTime.now.strftime("%B %Y") %></span>
    </div>
    <div class="number span3">
      <%= render 'admin/superdashboard/response_rate' || 'There are no sent reminders' %>
    </div>
    <div class="number span3">
      <%= render 'admin/superdashboard/undelivered_rate' || 'There are no sent reminders' %>
    </div>
    <div class="number span1">
      <p><h1><%= @last_month %></h1><%= 'Text'.pluralize( @last_month) %> Sent</p>
    </div>
    <div class="number span1">
      <p><h1><%= Conversation.month_calls.count/2 %></h1>Call <%= 'Response'.pluralize( Conversation.month_calls.count/2) %></p>
    </div>
    <div class="number span1">
      <p><h1><%= Conversation.text_responses.count %></h1>Text <%= 'Response'.pluralize( @conversations.count) %></p>
    </div>
    <div class="number span1">
      <p><h1><%= Conversation.undelivered.count %></h1>Undelivered</p>
    </div>
    <div class="number span1">
      <p><h1><%= Conversation.unsubscribed.count %></h1>Unsubscribed</p>
    </div>
  </div>
</div>