<div class="navbar navbar-static-top">
	<div class="navbar-inner">
    <%= link_to "Promptly", root_path, :class => "brand" %>
    <ul class="nav pull-right">
      <% if user_signed_in? %>
        <% if current_user.organizations.length > 0 %>
          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
              Your Organizations
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <% if current_user.is_super? %>
                <% Organization.all.each do |organization| %>
                  <li>
                    <a tabindex="-1" href="#">
                      <%= link_to organization.name, [:admin, organization] %>
                    </a>
                  </li>
                <% end %>
              <% else %>
                <% current_user.organizations.each do |organization| %>
                  <li>
                    <a tabindex="-1" href="#">
                      <%= link_to organization.name, [:admin, organization] %>
                    </a>
                  </li>
                <% end %>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to 'Manage organizations', admin_organizations_path %></li>
            </ul>
          </li>
        <% end %>
        <li><%= link_to "Welcome, #{current_user.name}", [:admin, current_user.organizations.first, current_user] %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
	</div>
</div>
