<nav class="top-bar" data-topbar>
	<ul class="title-area">
    <li class="name">
      <h1><%= link_to "Promptly", root_path, :class => "brand" %></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
        <% if current_user.organizations.count >1 %>
          <li><%= link_to "Welcome, #{current_user.name}", [:admin, current_user.organizations.first, current_user] %></li>
        <% else %>
          <li><%= link_to "Welcome, #{current_user.name}", [:admin, current_user.organizations.first, current_user] %></li>
        <% end %>
        <% if current_user.organizations.length > 0 %>
          <li class="has-dropdown">
            <a href="#">Your Organizations</a>
            <ul class="dropdown">
              <% if current_user.is_super? %>
                <% Organization.order('name ASC').all.each do |organization| %>
                  <li>
                    <a tabindex="-1" href="#">
                      <%= link_to organization.name, [:admin, organization] %>
                    </a>
                  </li>
                <% end %>
              <% else %>
                <% current_user.organizations.each do |organization| %>
                  <li>
                    <a tabindex="-1" href="#">
                      <%= link_to organization.name, [:admin, organization] %>
                    </a>
                  </li>
                <% end %>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to 'Manage organizations', admin_organizations_path %></li>
            </ul>
          </li>
        <% end %>
        <% if current_user.is_super? %>
          <li><%= link_to "Admin", admin_dashboard_path %></li>
        <% end %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul>
	</div>
</nav>
