<%= form_for(@recipient) do |f| %>
  <% if @recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
      <% @recipient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :reminder_date %><br />
    <%= f.date_select :reminder_date,{:start_year => Time.now.year,
      :end_year => 1900,
      :use_short_month => true,
      :order => [:month, :day, :year],
      :prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}},
      {:class => 'year',
      :id => 'reminder_date'} %>
  </div>
<!--   <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div> -->
<!--   <div class="field">
  <div class="control-group">
    <span class="control-label">Report Name</span>
    <div class="controls">
      <%= f.collection_select :report_ids, Report.all, :id, :report_type, {}, { multiple: true }%>
      </div>
    </div>
  </div> -->
  <div class="field">
    <div class="control-group">
      
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
