<%= form_for(@recipient) do |f| %>
  <% if @recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
      <% @recipient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="control-group">
      <%= f.label :phone, :class => 'control-label'%>
      <div class="controls">
        <%= f.text_field :phone %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control-group">
      <div class="controls">
        <%= collection_select :recipients, :program_ids, Program.all, :id, :name %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control-group">
      <%= f.label :reminder_date, :class => 'control-label' %>
      <div class="control-group">
        <%= f.date_select :reminder_date,{:start_year => Time.now.year,
          :end_year => 1900,
          :use_short_month => true,
          :order => [:month, :day, :year],
          :prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}},
          {:class => 'year',
          :id => 'reminder_date'} %>
        </div>
      </div>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
