<%= simple_form_for @recipient  do |f| %>
  <% if @recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
      <% @recipient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :phone, required: true %>
  <%= f.input :reminder_ids, :label => "Available reminders", :collection => Reminder.all, :prompt => "Choose a reminder", :multiple => true %>

  <div class="field">
    <div class="control-group">
      <%= f.fields_for :notifications do |builder| %>
        <%= builder.label :sent_date, :class => 'control-label' %>
        <div class="control-group">
        <%= builder.datetime_select :sent_date,{:start_year => Time.now.year,
          :use_short_month => false,
          :ampm => true,
          :order => [:month, :day, :year],
          :prompt => {:month => 'Month', :day => 'Day', :year => 'Year', :hour => 'Hour', :minute => 'Minute'}},
          {:class => 'year',
          :id => 'sent_date'} %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
  
<% end %>
