<%= form_for(@recipient) do |f| %>
  <% if @recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
      <% @recipient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :case %><br />
    <%= f.text_field :case %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
  <div class="control-group">
    <span class="control-label">Report Name</span>
    <div class="controls">
      <%= f.collection_select :id, @report, :id, :report_type, :prompt => true %>

      </div>
    </div>
  </div>
  <div class="field">
    <div class="control-group">
      <%= f.fields_for :reports do |builder| %>
        <%= render 'report_questions', :f => builder %>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
