  <div class="row-fluid">
  <h3>All recipients</h3>
  </div>
  <% @recipients.each do |recipient| %>
  <div class="row-fluid">
    <div class="span12">
      <div class="span8 offset1">
        <ul class="unstyled">
          <li>Phone number: <%= link_to recipient.phone, recipient %></li>
          <%= render(:partial => 'notifications', :collection => recipient.notifications, :as => :reminders) || 'You have no reminders' %>
          <%= render(:partial => 'reports', :collection => recipient.reports, :as => :reports) || 'You have no reports' %>
          <li><%= link_to 'Show', recipient %> | <%= link_to 'Delete', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>    
    </div>
  </div>
  <% end %>
  <h2>Import users</h2>

  <%= form_tag import_recipients_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  
  <%= link_to 'New Recipient', new_recipient_path %>

