<div class="container-fluid">
  <h3>All recipients</h3>
  <% @recipients.each do |recipient| %>
  <div class="row-fluid">
    <div class="span12">
      <div class="span8 offset1">
        <ul class="unstyled">
          <li>Phone number: <%= link_to recipient.phone, recipient %></li>
          <li>Reminder date: <%= recipient.reminder_date %></li>
          <li><%= link_to 'Show', recipient %> | <%= link_to 'Delete', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>    
    </div>
  </div>
  <% end %>
  <%= link_to 'New Recipient', new_recipient_path %>
</div>
