<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @recipient.phone %>
</p>

<p>
  <b>Case:</b>
  <%= @recipient.case %>
</p>

<p>
  <b>Active:</b>
  <%= @recipient.active %>
</p>
<p>
  <b>Reports:</b>
  <% @recipient.reports.each_with_index do |report, index| %>
  <p><%= report.report_type %> | <%= report.humanname %>
  <% end %>
</p>


<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
