<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @recipient.phone %>
</p>

<p>
  <b>Reminder Date:</b>
  <%= @recipient.reminder_date.to_s(:date_format) %>
</p>
<p>
<b>Programs:</b>
  <% @recipient.programs.each do |program| %>
    <p><%= program.name %></p>
  <% end %>
</p>
  <b>Conversations:</b>
  <% @recipient.conversations.each do |conversation| %>
    <p>Date sent: <%= conversation.date.to_s(:date_format) %>
    <p>To number: <%= conversation.to_number %></p>
    <p>Message: <%= conversation.message %></p>
  <% end %>


<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
