<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @recipient.phone %>
</p>

  <ul class="unstyled">
    <%= render(:partial => 'notifications', :collection => notifications, :as => :a) || 'You have no reminders' %>
  </ul>
<p>
<b>Reports:</b>
  <% @recipient.reports.each do |report| %>
    <p><%= report.humanname %></p>
    <% report.messages.each do |message| %>
      <p>Reminder message: <%= message.message_text %></p>
    <% end %>
  <% end %>
</p>
  <b>Conversations:</b>
  <% @recipient.conversations.each do |conversation| %>
    <p>Date sent: <%= conversation.date.to_s(:date_format) %>
    <p>To number: <%= conversation.to_number %></p>
    <p>Message: <%= conversation.message %></p>
  <% end %>


<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
