<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @recipient.phone %>
</p>

<p>
  <b>Reminder Date:</b>
  <%= @recipient.reminder_date.to_s(:date_format) %>
</p>

<!-- <p>
  <b>Active:</b>
  <%= @recipient.active %>
</p>
<p>
  <b>Reports:</b>
  <% @report.each_with_index do |report, index| %>
  <p><%= report.report_type %>
  <% end %>
</p> -->


<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
