<p id="notice"><%= notice %></p>

<p>
  <b>Phone:</b>
  <%= @recipient.phone %>
</p>

<p>
  <b>Reminder Date:</b>
  <%= @recipient.reminder_date.to_s(:date_format) %>
</p>

<!-- <p>
  <b>Active:</b>
  <%= @recipient.active %>
</p>
<p>-->
  <b>Conversations:</b>
  <% @recipient.conversations.each_with_index do |a, index| %>
    <p><% a.date %> | <%= a.message %></p>
  <% end %>
</p> 


<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
