<%= simple_form_for @delivery  do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @delivery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :send_date, "Delivery date" %>
  <%= f.text_field :send_date, :class => 'dateSelect' %>
  <div class="defaultTime">Default delivery time <em>12:00pm</em></div>
  <%= f.hidden_field :send_time, :value => '12:00pm' %>
  
    <div class="field">
    <div class="control-group">
      <%= f.label :reminder_id, "Available reminders", :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :reminder_id, Reminder.all, :id, :name, {:prompt => 'Select a reminder'} %>
      </div>
    </div>
  </div>
  <h4>or</h4>
  <div><%= link_to_add_fields "Create a new reminder", f, :reminder %></div>
  </div>
  <p>Reminder recipients</p>
      <%= f.collection_check_boxes :recipient_id, Recipient.all, :id, :phone_or_name do |b| b.label(class: "checkbox") {b.check_box(class: "checkbox")+ b.text}
      end  %>
      
  <div class="row-fluid">
    <div class="span5">
      <div class="well">
        <h3>Upload recipients</h3>
        <%= form_tag import_deliveries_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import", :class=>'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>  
<% end %>
