<div class="row-fluid">
  <div class="pageHeader span12">
      <%= link_to 'Schedule a reminder', new_reminder_path, :class => 'btn btn-primary cta-button' %>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <div class="headerSmall headerAqua">
      <span class="headerText">Upcoming reminders</span>
    </div>
      <div><%= link_to 'View all', reminders_path, :class => 'btn btn-default pull-right' %></div>
    <div class="conversation">
      <%= render 'upcoming_reminders', object: @upcoming || 'There are no upcoming reminders' %>
    </div>
  </div>
  <div class="span6">
    <div class="headerSmall headerGreen">
      <span class="headerText">Sent reminders</span>
    </div>
    <div><%= link_to 'View all', reminders_path, :class => 'btn btn-default pull-right' %></div>
    <div class="conversation">
      <%= render 'sent_reminders', object: @conversations || 'There are no sent reminders' %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <div class="headerSmall headerGreen">
      <span class="headerText">Responses</span>
    </div>
    <div><%= link_to 'View all', conversations_path, :class => 'btn btn-default pull-right' %></div>
    <div class="conversation">
      <%= render 'responses' || 'There are no responses' %>
    </div>
  </div>
  <div class="span6">
    <div class="headerSmall headerRed">
      <span class="headerText">Undelivered reminders</span>
    </div>
    <div><%= link_to 'View all', conversations_path, :class => 'btn btn-default pull-right' %></div>
    <div class="conversation">
      <%= render 'undelivered' || 'There are no upcoming reminders' %>
    </div>
  </div>
</div>
