    <div class="container"> <!-- main container -->
        <div class="well">
        	<h2>Landshark</h2>
            <p>Welcome to the HSA text messaging system</p>
            <%= link_to 'Add new user', new_recipient_path, :class => 'btn btn-primary' %>
            <%= link_to 'View programs', programs_path, :class => 'btn' %>
            <%= link_to 'View reports', reports_path, :class => 'btn' %>
    	</div>
        <div class="row-fluid">
            <div class="span3">
            <%= render(:partial => 'ataglance') %>
            </div>
            <div class="span9">
            <h3 id="recentmessages">Recent</h3>
             <%= render(:partial => 'recent', :collection => @recents, :as => :recents) || 'There are no recent messages' %>
            </div>
        </div>

</div>
