  <div class="row-fluid">
    <div class="span10">
      <div class="row-fluid">
        <div class="pageHeader">
          <h2>Dashboard</h2>
          <div>
            <span>Schedule new reminders and view statistics</span>
            <%= link_to 'Schedule a reminder', new_reminder_path, :class => 'offset1 btn btn-primary' %>
          </div>
        </div>
        <div class="span5">
          <div class="mainHeaderAqua">
            <span class="aquaHighlight">Upcoming reminders</span>
          </div>
          <div class="conversation">
            <%= render(:partial => 'upcoming_reminders', object: @upcoming) || 'There are no upcoming reminders' %>
          </div>
        </div>
        <div class="span5">
          <div class="mainHeaderGreen">
            <span class="greenHighlight">Sent reminders</span>
          </div>
          <div class="conversation">
            <%= render(:partial => 'sent_reminders') || 'There are no sent reminders' %>
          </div>
        </div>
      </div>
      <div class="span10>"
        <div class="row-fluid">
          <div class="span5">
            <div class="mainHeaderGreen">
              <span class="greenHighlight">Sent deliveries</span>
            </div>
            <div class="conversation">
              <%= render(:partial => 'sent_reminders') || 'There are no upcoming reminders' %>
            </div>
          </div>
          <div class="span5">
            <div class="mainHeaderGreen">
              <span class="greenHighlight">Upcoming deliveries</span>
            </div>
            <div class="conversation">
              <%= render(:partial => 'upcoming_reminders', object: @upcoming) || 'There are no upcoming reminders' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
