<div class="container"> <!-- main container -->
  <div class="row-fluid">
    <div class="span2">
        <%= render(:partial => 'sidebar') %>
    </div>
    <div class="span10">
      <div class="row-fluid">
        <div class="well">
          <%= link_to 'Schedule a reminder', new_reminder_path, :class => 'offset2 btn btn-primary' %>
        </div>
        <div class="span5">
          <div class="mainHeaderGreen">
            <span class="greenHighlight">Upcoming deliveries</span>
          </div>
          <div class="conversation">
            <%= render(:partial => 'upcoming_reminders', object: @upcoming) || 'There are no upcoming reminders' %>
          </div>
          </div>
          <div class="span5">
            <div class="mainHeaderGreen">
              <span class="greenHighlight">Upcoming deliveries</span>
            </div>
            <div class="conversation">
              <%= render(:partial => 'upcoming_reminders', object: @upcoming) || 'There are no upcoming reminders' %>
            </div>
        </div>
      </div>
      <div class="span10>"
        <div class="row-fluid">
          <div class="span5">
            <div class="mainHeaderGreen">
              <span class="greenHighlight">Upcoming deliveries</span>
            </div>
            <div class="conversation">
              <%= render(:partial => 'upcoming_reminders', object: @upcoming) || 'There are no upcoming reminders' %>
            </div>
          </div>
          <div class="span5">
            <div class="mainHeaderGreen">
              <span class="greenHighlight">Upcoming deliveries</span>
            </div>
            <div class="conversation">
              <%= render(:partial => 'upcoming_reminders', object: @upcoming) || 'There are no upcoming reminders' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
