<div class="row-fluid">
  <div class="pageHeader">
    <h2>Dashboard</h2>
    <div>
      <span>Schedule new reminders and view statistics</span>
      <%= link_to 'Schedule a reminder', new_reminder_path, :class => 'offset1 btn btn-primary' %>
    </div>
  </div>
  <div class="span5">
    <div class="mainHeaderAqua">
      <span class="aquaHighlight">Upcoming reminders</span>
    </div>
      <div><%= link_to 'View all', reminders_path, :class => 'btn btn-default pull-right' %></div>
    <div class="conversation">
      <%= render 'upcoming_reminders', object: @upcoming || 'There are no upcoming reminders' %>
    </div>
  </div>
  <div class="span5">
    <div class="mainHeaderGreen">
      <span class="greenHighlight">Sent reminders</span>
    </div>
    <div class="conversation">
      <%= render 'sent_reminders' || 'There are no sent reminders' %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span5">
    <div class="mainHeaderGreen">
      <span class="greenHighlight">Responses</span>
    </div>
    <div class="conversation">
      <%= render 'responses' || 'There are no responses' %>
    </div>
  </div>
  <div class="span5">
    <div class="mainHeaderGreen">
      <span class="greenHighlight">Undelivered reminders</span>
    </div>
    <div class="conversation">
      <%= render 'undelivered', object: @conversation || 'There are no upcoming reminders' %>
    </div>
  </div>
</div>
