<div id="questions" class="section">
	<div class="container">
  <h1>Common Questions</h1>
  <p class="question">Does Promptly cost clients money?<p>
	<p class="answer">Sometimes. While Promptly is a free service, it may cost clients a few cents to receive each text message, depending on their service plan.</p>

	<p class="question">How can clients unsubscribe?</p>
	<p class="answer">Clients can unsubscribe by replying STOP to any text message.</p>

	<p class="question">What about privacy? Are text messages confidential?</p>
	<p class="answer">No. Text messages are not confidential. For example, the City and County of San Francisco will not send any messages to clients without their </p>explicit permission. <%= link_to "Here is an example of an agreement form", controller: "pages", action: "documents" %> San Franciscans are given in order to consent to receive text messages.

	<p class="question">What phone number will text messages come from?</p>
	<p class="answer">Promptly uses a third-party vendor to send messages. You will need to buy a phone number from a vendor. <% link_to "Twilio", "http://www.twilio.com" %> has more information on their site.</p>

	<p class="question">What if a client's phone is disconnected?</p>
	<p class="answer">The client will stop receiving text messages.</p>

	<p class="question">What languages are available?</p>
	<p class="answer">Promptly can support text messages in any language the third-party vendor supports.</p>

	<p class="question">I still have questions...</p>
	<p class="answer">Get in touch! sf@codeforamerica.org</p>

	<p class="question">Who built Promptly?</p>
	<p class="answer">2013 Code for America fellows <%= link_to "Andy Hull", "http://www.codeforamerica.org/2013-fellows/#Andy" %>, <%= link_to "Marc Hebert", "http://www.codeforamerica.org/2013-fellows/#Marc" %>, <%= link_to "Rebecca Ackerman", "http://www.codeforamerica.org/2013-fellows/#Rebecca Chaya Ackerman" %> and <%= link_to "Jacob Solomon", "http://www.codeforamerica.org/2013-fellows/#Jacob" %>, working with San Francisco’s Human Services Agency.</p>

	</div>
</div>