<%= render 'splash_hero' %>

<div class="splash-subnav">
  <div class="container">
    <ul class="nav nav-justified">
    <li><a href="#what">What is Promptly?</a></li>
    <li><a href="#contact">Contact Us</a></li>
    <li><a href="#story">Our Story</a></li>
    <li><a href="#questions">Questions?</a></li>
    </ul>
  </div>
</div>

<%= render 'splash_what' %>

<%= render 'splash_contact' %>

<%= render 'splash_story' %>

<%= render 'splash_questions' %>