<div class="row">
  <div class="small-8 eight columns heading">
      <h1>Sign In</h1>
  </div>
</div>
<div class="row">
  <div class="small-6 six end columns">

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form'}) do |f| %>
		  
		<div class="form-group">
			<%= f.label :email %>
       
		  <%= f.email_field :email, :autofocus => true, :class => 'form-control', :type=>'email', :placeholder=>"Enter email" %>
		</div>

		<div class="form-group">
			<%= f.label :password %>
		  <%= f.password_field :password, :class => 'form-control', :type=>'password', :placeholder=>"Password" %>
		</div>

		  <% if devise_mapping.rememberable? -%>
		  <div class="form-group">
    		<div class="checkbox">
      		<%= f.label :remember_me, :class => 'checkbox' do %>
      		<%= f.check_box :remember_me %> Remember Me
      		<% end %>
		    </div>
		  </div>
		  <% end -%>

		  <div class="form-group">
		  	<div class="controls">
		  		<%= f.submit "SIGN IN", :class => 'button' %>
		  	</div>
		  	<div class="controls">
		  		<%= render "devise/shared/links" %>
		  	</div>
		  </div>
		<% end %>

	</div>
</div>