  <div class="reveal-modal small" data-reveal id="new-message">
      <a class="close-reveal-modal">&#215;</a>
      <h3>Create New Message</h3>
    <div class="modal-body">
      <%= simple_fields_for :message do |message_fields| %>
        <%= message_fields.input :name, input_html: { class: "span12" } %>
        <%= label_tag "Add New Message:" %>
        <%= message_fields.input :message_text, as: :text, rows: 15, input_html: { class: "span12" } %>
      <% end %>
    </div>
    <div class="modal-footer">
    <%= link_to "Save Message", admin_organization_messages_path(@organization), id: "new-message-submit", class: "button save-modal", remote: true %>
    </div>
  </div>
