<%= simple_form_for @reminder, :url => confirm_admin_organization_reminders_path do |f| %>
  <div class="row">
    <div class="small-12 twelve columns" id="message">
      <% if @reminder.errors.any? %>
        <%= render 'form_errors' %>
      <% end %>

      <%= f.input :recipient_id, as: :hidden %><!-- adds the recipient_id as a param so we can add it manually -->

      <%= render 'message_table', :f => f %>
      <%= render 'add_message', :f => f %>
    </div><!-- message -->
  </div>

  <div class="row" id="recipients">
    <div class="small-12 twelve">
      <%= render 'group_table', :f => f %>
      <%= render 'add_recipients', :f => f %>
    </div>
  </div><!-- recipients -->

  <div class="row" id="date-and-time">
    <div class="small-12 twelve">
      <%= render 'add_datetime', :f => f %>
    </div>
  </div>

  <div class="row" id="submit">
    <div class="small-12 twelve">
      <%= f.submit "Schedule Reminder", :class => 'button' %>
      <br>
      <%= link_to "Cancel", admin_organization_dashboard_path(@organization.id) %>
    </div>
  </div>
<% end %> <!-- /form -->
