<div class="headerSmall headerAqua">
  <span class="headerText">Message</span>
</div>

<div class="row">
  <div class="small-12">
    <table id="messages-table" class="table table-bordered table-striped table-hover small-12">
      <thead>
        <tr>
          <th></th>
          <th>Message text</th>
          <th>Message name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% Message.accessible_by(current_ability).organization(params[:organization_id]).all.each do |message| %>
        <tr>
          <td><%= radio_button_tag 'message_id', message.id, false, class: 'table-row-radio' %></td>
          <td><%= message.message_text %></td>
          <td><%= message.name %></td>
          <td>
          <%= link_to 'Edit', edit_admin_organization_message_path(@organization.id,message), :class=>'button secondary tiny' %>
          <%= link_to 'Delete', [:admin, @organization, message], method: :delete, data: { confirm: 'Are you sure?' }, :class=>'button alert tiny' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <p>Need a new message? <a href="#" class="button secondary small" data-reveal-id="new-message">Create new message</a>
  </div>
</div>
