<div class="heading">
  <h3>Select Message</h3>
</div>

<div class="row">
  <div class="small-12 twelve">
    <table id="messages-table" class="table table-bordered table-striped table-hover small-12 twelve">
      <thead>
        <tr>
          <th></th>
          <th>Message text</th>
          <th>Message name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% Message.accessible_by(current_ability).organization(params[:organization_id]).all.each do |message| %>
        <tr>
          <td><%= radio_button_tag 'message_id', message.id, false, class: 'table-row-radio' %></td>
          <td><%= message.message_text %></td>
          <td><%= message.name %></td>
          <td>
          <% if can? :manage, Message %>
            <%= link_to 'Edit', edit_admin_organization_message_path(@organization.id,message), :class=>'button secondary tiny' %>
            <%= link_to 'Delete', [:admin, @organization, message], method: :delete, data: { confirm: 'Are you sure?' }, :class=>'button alert tiny' %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% if can? :manage, Message %>
      <p>Need a new message? <a id="new_message_button" href="#" class="button secondary small" data-reveal-id="new-message">Create new message</a>
    <% end %>
  </div>
</div>
