<% if @groups != [] %>
<table class="table table-striped small-12 twelve colums">
  <thead>
    <tr>
      <th>Reminder message</th>
      <th>Send date</th>
      <th>Group name</th>
      <th>Number of recipients</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |reminders| %>
    <% recipient_count = 0 %>
        <% reminders.groups.each do |group| %>
          <% recipient_count += group.recipients.count %>
        <% end %>
    <tr>
      <td><%= reminders.message.message_text || reminders.name %></td>
      <td><%= reminders.send_date.to_s(:date_format) %></td>
      <td><%= Group.where('id = reminders.group_ids').name %></td>
      <td><%= link_to recipient_count, [:admin, @organization, @reminder] %></td>
      <td><%= link_to 'Edit', edit_admin_organization_reminder_path(@organization, reminders.id), :class => 'button secondary tiny' %> <%= link_to 'Delete', admin_organization_reminder_path(@organization, reminders.id), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'button alert tiny' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
