<% if @groups != [] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Number of recipients</th>
      <th>Send date</th>
      <th>Reminder</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |batch, reminders| %>
    <% recipient_count = 0 %>
    <% reminders.each do |reminder| %>
        <% reminder.groups.each do |group| %>
          <% recipient_count += group.recipients.count %>
        <% end %>
    <% end %>
    <tr>
      <td><%= link_to recipient_count, admin_reminder_path(batch) %></td>
      <td><%= reminders.first.send_date.to_s(:date_format) %></td>
      <td><%= reminders.first.message.message_text || reminders.first.name %></td>
      <td><%= link_to 'Edit', edit_admin_reminder_path(reminders.first.batch_id), :class => 'btn btn-default btn-mini' %> <%= link_to 'Delete', admin_reminder_path(reminders.first.batch_id), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-mini' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
