<% if @groups != [] %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Number of recipients</th>
      <th>Send date</th>
      <th>Reminder</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |reminders| %>
    <% recipient_count = 0 %>
        <% reminders.groups.each do |group| %>
          <% recipient_count += group.recipients.count %>
        <% end %>
    <tr>
      <td><%= link_to recipient_count, [:admin, @organization, @reminder] %></td>
      <td><%= reminders.send_date.to_s(:date_format) %></td>
      <td><%= reminders.message.message_text || reminders.name %></td>
      <td><%= link_to 'Edit', edit_admin_organization_reminder_path(@organization,reminders.batch_id), :class => 'btn btn-default btn-mini' %> <%= link_to 'Delete', admin_organization_reminder_path(@organization,reminders.batch_id), method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-mini' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
