<% if @reminders.any? %>
  <div class="container">
    <div class="row-fluid">
      <div class="span12 headerSmall headerGreen">
        <span class="headerText">Reminder <%= @reminders.first.try { |reminder| reminder.name } %></span>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
      <p>On <%= @reminders.first.send_date.to_s(:date_only) %> at <%= @reminders.first.send_date.to_s(:time_only) %> the message: </p>
      <blockquote><%= Message.find(@reminders.first.message_id).message_text %></blockquote>
      <p>will be sent to <%= pluralize(@total_count, 'recipient') %>.</p>
      <% @reminders.each do |reminder| %>
        <% if reminder.group_ids %>
          <% reminder.group_ids.each do |group| %>
            <h4>
              Group: <%= Group.find(group).name %>
            </h4>
            <% @group_recipients = Group.find_recipients_in_group(group) %>
            <% @group_recipients.each do |recipient| %>
                  <div>
                    <span>
                      <%= link_to number_to_phone(recipient.phone, :area_code => true), recipient %>
                    </span>
                  </div>
            <% end %>
          <% end %>
        <% end %>
        <% if reminder.recipient_id %>
          <div>
            <span>
            <%= link_to number_to_phone(reminder.recipient.phone, :area_code => true), reminder.recipient %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
    <br/>
      <div>
        <%= link_to 'Back', admin_reminders_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% else %>
  <p>No reminders found.</p>
<% end %>
