<%= simple_form_for [:admin, @organization] do |f| %>
  <%= f.input :name, inline_label: "Name" %>
  <% f.association :users, as: :check_boxes, label: "Users" %>
 <div class="row-fluid">
  <div class="span12">
    <table class="table table-hover datatable" id="add-groups">
      <thead>
        <tr>
          <th>Add to Organziation</th>
          <th>Name</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% for user in User.all %>
        <tr>
          <td><%= check_box "organizations_user[user_ids]", user.id, :class => 'table-row-checkbox' %></td>
          <td><%= user.name %></td>
          <td><%= simple_fields_for :organizations_user do |org_user| %>
          <div class="field">
              <div class="control-group">
                <div class="controls">
                  <%= org_user.collection_select "#{user.id}[roles]", OrganizationsUser.valid_roles, :to_s, :to_s %>
                </div>
              </div>
            </div>
          <% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  
  <%= f.button :submit %>
<% end %>
