<%= simple_form_for [:admin, @group]  do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <%= f.input :name, required: true %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :description, "Group description" %>
    <div class="controls">
      <%= f.text_area :description, rows: 3 %>
    </div>
  </div>
    <%= f.text_area :phone, rows: 10, value: phone_numbers %>

  <%= fields_for :recipient do |builder| %>
  <div class="control-group">
    <%= builder.label :phone, "Enter a list of phone numbers", :class => 'control-label' %>
    <div class="controls">
      <% @group.recipients.each do |recipient| %>
        <%= builder.text_area :phone, rows: 10, data: recipient %>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>  
<% end %>
