<div class="row">
  <% if can? :create, Group %>
    <div class="small-12 columns">
      <%= link_to 'CREATE GROUP', new_admin_organization_group_path(@organization.id), :class => 'button' %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="small-12 columns">
    <h3>All Groups</h3>
  </div>
  <div class="small-12 columns">
    <table class="small-12 columns">
    	<thead>
    		<th>Group name</th>
    		<th>Group description</th>
    	</thead>
      <tbody>
      <% @groups.each do |group| %>
        <tr>
  	      <td><%= link_to_if(can?(:read, Group), group.name, admin_organization_group_path(@organization.id ,group.id)) {} %></td>
  			  <td><%= group.description %></td>
          <% if can? :edit, Group %>
    			  <td>
              <%= link_to "Edit", edit_admin_organization_group_path(@organization.id, group.id), :class => 'button secondary tiny' %>
              &nbsp;
              <%= link_to "Delete", [:admin, @organization, group], :confirm => "Are you sure?", :method => :delete, :class => 'button alert tiny' %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


