<div class="row-fluid">
	<div class="headerSmall headerGreen">
		<span class="greenHighlight"><%= @group.name %></span>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<%= content_tag :div, "", class: "chart", id: "sent_chart", data: {sent: chart_data(start_date = Date.today.beginning_of_month, end_date = Date.today, "date", Conversation)} %>
	</div>
</div>

<div class="row-fluid">	
	<div class="span8">
		<table class="table table-bordered">
			<thead>
			<tr>Recipient Phone</tr>
			</thead>
			<tbody>
			<% @group.recipients.each do |recipient| %>
				<tr>
					<td><%= link_to number_to_phone(recipient.phone, :area_code => true), [:admin, @organization, recipient] %></td>
				</tr>
			<% end %>
		</tbody>
	 </table>
	</div>
</div>
<div class="row-fluid">

  <div class="span8">
  	<div class="row-fluid">
	    <div class="span12">
	      <div class="headerSmall headerAqua">Group History</div>
	    </div>
	    <div class="conversation">
	      <% if @group_conversations %>
	      	<% @group_conversations.each do |c| %>
	      		<%= render(:partial => 'shared/show_conversation', :collection => c, :as => :conversation) %>
	      	<% end %>
	      <% else %>
	       <span>No messages.</span>
	      <% end %>
	    </div>
	   </div>
  </div>

  <div class="span4 sidebar">
  	<div class="row-fluid">
	    <div class="span12">
	      <div class="headerSmall headerAqua">Queued Reminders</div>
	    </div>
  	</div>
  	<div class="row-fluid">
	    <div class="queued span12">
	      <%= render(:partial => 'shared/queued_reminders', :collection => @group_reminders, :as => :reminder) || 'No queued reminders.' %>
	    </div>
	  </div>
  </div>

</div>
<div class="row_fluid">
	<div>
		<%= link_to 'Back', admin_organization_groups_path(@organization) %>
	</div>
</div>
