<div class="row">
	<div class="small-12 columns">
		<h3><%= @group.name %></h3>
	</div>
</div>

<div class="row">	
	<div class="small-8 end columns">
		<table>
			<thead>
				<tr>
					<th>Recipient Phone</th>
				</tr>
			</thead>
			<tbody>
			<% @group.recipients.each do |recipient| %>
				<tr>
					<td><%= link_to number_to_phone(recipient.phone.phony_formatted!(:normalize => :US, :spaces => ''), :area_code => true), [:admin, @organization, recipient] %></td>
				</tr>
			<% end %>
		</tbody>
	 </table>
	</div>
</div>
<div class="row">
    <div class="small-8 end columns">
	    <h4>Group History</h4>
	    <div class="conversation">
	      <% if @group_conversations %>
	      	<% @group_conversations.each do |c| %>
	      		<%= render(:partial => 'shared/show_conversation', :collection => c, :as => :conversation) %>
	      	<% end %>
	      <% else %>
	       <span>No messages.</span>
	      <% end %>
	    </div>
	</div>
</div>

<div class="row">
	<div class="small-8 end columns">
  		<h4>Upcoming Notifications</h4>
	</div>
	<div class="small-8 end columns">
		<%= render(:partial => 'shared/queued_reminders', :collection => @group_reminders, :as => :reminder) || 'No queued reminders.' %>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<%= link_to 'Back', admin_organization_groups_path(@organization) %>
	</div>
</div>
