<div class="row">
  <div class="small-12 columns">
    <div class="heading">
      <h1>All Users</h1> 
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @organization.users.each do |u| %>
          <tr>
            <td><%= link_to_if(can?(:read, User), "#{u.name}", admin_organization_user_path(@organization.id, u.id)) {} %></td>
            <td><%= "#{u.email}" %></td>
            <td><%= link_to_if(can?(:edit, User), "Edit", edit_admin_organization_user_path(@organization.id, u.id), :class => 'btn btn-default btn-mini') %></td>
            <td><%= link_to_if(can?(:delete, u), "Delete", admin_organization_user_path(@organization.id, u.id), method: :delete, :confirm => "Are you sure you want to delete this user?", :class => 'btn btn-danger btn-mini') %></td>
          </tr>    
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= link_to_if(can?(:create, User), "CREATE NEW USER", new_admin_organization_user_path(@organization.id), :class => 'button') %>
  </div>
</div>
