<div class="row">
	<div class="small-12 columns">
		<h3>Create New User</h3>
	</div>
 	<div class="small-6 end columns">
		<%= form_for [:admin, @organization, @user] do |f| %>
		 
		<%= render :partial => 'user_fields', :locals => { :f => f } %>
		 
		<%= f.label :password %>
		<%= f.password_field :password %>
		 
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
		 
		<%= f.submit :class => 'button'%>
	<% end %>
	</div>
</div>

