<div class="row-fluid">
<h3>Reports</h3>
</div>

<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>

    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to report.report_type, report %></td>
        <td><%= report.humanname %></td>
        <td><%= link_to 'Edit', edit_report_path(report), :class=>'btn btn-mini' %>  <%= link_to 'Delete', report, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-mini' %></td>
      </tr>
    <% end %>
    </table>

    <div class="dumbPadding"><%= link_to 'New Report', new_report_path, :class=>'btn btn-primary' %></div>
  </div>
</div>