<div class="navbar navbar-inverse"> <!-- navbar -->
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "Landshark", root_path, :class => 'brand' %>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="<%= 'active' if current_page?(root_url)%>">
						<%= link_to "Home", root_path %>
					</li>
					<li class="<%= 'active' if current_page?(:controller => 'recipients', :action => 'index')%>">
						<%= link_to "Recipients", recipients_path %>
					</li>
					<li class="<%= 'active' if current_page?(:controller => 'messages', :action => 'index')%>">
						<%= link_to "Messages", messages_path %>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div> <!-- /navbar -->
