<div class="navbar"> <!-- navbar -->
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "Landshark", root_path, :class => 'brand' %>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="<%= 'active' if current_page?(root_url)%>">
						<%= link_to "Home", root_path %>
					</li>
					<li class="<%= 'active' if current_page?(reminders_url)%> dropdown">
						<%= link_to reminders_path, :data => {:toggle => "dropdown"} do %>
							Reminders
							<b class="caret"></b>
						<% end %>
						<%= render 'layouts/reminders_dropdown' %>
					</li>
					<li class="<%= 'active' if current_page?(recipients_url)%>">
						<%= link_to "Recipients", recipients_path %>
					</li>
				</ul>
				<div class="login pull-right">
				<% if user_signed_in? %>
				  <p><%= link_to 'Edit profile', edit_user_registration_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
				<% else %>
				  <p><%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Login", new_user_session_path %></p>
				<% end %>
				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div> <!-- /navbar -->
<% if user_signed_in? %>
	<div class="username">
		<p>Logged in as <strong><%= current_user.email %></strong>.</p>
	</div>
<% else %>
<% end %>