<div class="navbar"> <!-- navbar -->
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar icon-white"></span>
				<span class="icon-bar icon-white"></span>
				<span class="icon-bar icon-white"></span>
			</button>
			<%= link_to "Promptly", root_path, :class => 'brand' %>
			<div class="nav-collapse collapse">
				<div class="login pull-right">
				<% if user_signed_in? %>
				  <p><%= link_to "Welcome, #{current_user.name}!", edit_user_registration_path %> | <%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
				<% else %>
				  <p><%= link_to "Sign in", new_user_session_path %> | <%= link_to "Sign up", new_user_registration_path %></p>
				<% end %>
				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div> <!-- /navbar -->