<div>
	<ul class="side-nav main-menu">
		<%= content_tag(:li, class: is_active?("dashboard")) do %>
			<%= link_to admin_organization_dashboard_path(@organization.id) do %>
				<i class="typcn typcn-home"></i>Dashboard
			<% end %>
		<% end %>
		<%= content_tag(:li, class: is_active?("reminders")) do %>
			<%= link_to admin_organization_reminders_path(@organization.id) do %>
				<i class="typcn typcn-device-phone"></i>Reminders
			<% end %>
		<% end %>
		<%= content_tag(:li, class: is_active?("groups")) do %>
			<%= link_to admin_organization_groups_path(@organization.id) do %>
				<i class="typcn typcn-group"></i>Groups
			<% end %>
		<% end %>
		<%= content_tag(:li, class: is_active?("messages")) do %>
			<%= link_to admin_organization_messages_path(@organization.id) do %>
				<i class="typcn typcn-message"></i>Messages
			<% end %>
		<% end %>
		<%= content_tag(:li, class: is_active?("conversations")) do %>
			<%= link_to admin_organization_conversations_path(@organization.id) do %>
				<i class="typcn typcn-phone-outline"></i>Conversations
			<% end %>
		<% end %>
		<%= content_tag(:li, class: is_active?("users")) do %>
			<%= link_to admin_organization_users_path(@organization.id) do %>
				<i class="typcn typcn-user"></i>Users
			<% end %>
		<% end %>
	</ul>
</div>
