<div class="nav-collapse sidebar-nav">
	<ul class="nav nav-tabs nav-stacked main-menu">
		<%= content_tag(:li, class: is_active?("home")) do %>
			<%= link_to admin_path do %>
				<i class="typcn typcn-home"></i>Dashboard
			<% end %>
		<% end %>
		<%= content_tag(:li, class: is_active?("reminders")) do %>
			<%= link_to reminders_path do %>
				<i class="typcn typcn-device-phone"></i>Reminders
			<% end %>
		<% end %>
		<%= content_tag(:li, class: is_active?("groups")) do %>
			<%= link_to groups_path do %>
				<i class="typcn typcn-group"></i>Groups
			<% end %>
		<% end %>
	</ul>
</div>
