<!DOCTYPE html>
<html>
<head>
  <title>Promptly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

</head>

<body>
  <%= render 'shared/mainnav' %>
    <div class="container-fluid">
    <div class="row-fluid">
      <div id="sidebar-left" class="span1">
        <%= render 'layouts/sidebar' %>
      </div>
      <div id="content" class="span11">
        <div class="row-fluid">
          <div class="notice">
            <div><%= notice %></div>
            <div><%= alert %></div>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>