<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Promptly" %></title>

    <%= stylesheet_link_tag    "application" %>
    <!-- Foundation 3 for IE 8 and earlier -->
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag 'ie', :media => 'all' %>
    <![endif]-->
    <!-- Foundation 4 for IE 9 and earlier -->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="../assets/ie/css/foundation4/normalize.css">
      <link rel="stylesheet" href="../assets/ie/css/foundation4/foundation.min.css">
    <!--<![endif]-->
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://pobox.herokuapp.com/css/postcode_main.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
     <%= render 'shared/mainnav' %>

      <div class="row">
        <div class="notice">
          <div><%= notice %></div>
          <div><%= alert %></div>
        </div>
      </div>

        <% if content_for? :organization %>
          <%= yield :organization %>
        <% elsif content_for? :admin %>
          <%= yield :admin %>
        <% else %>
      <div class="row">
          <div id="content">
            <%= yield %>
          </div>
        <% end %>
      </div>

    <%= render 'shared/footer' %>
    <%= javascript_include_tag "application" %>
  </body>
  <!-- Foundation 3 for IE 8 and earlier -->
  <!--[if lt IE 9]>
      <%= javascript_include_tag "ie8" %>
  <![endif]-->

  <!-- Foundation 4 for IE 9 and later -->
  <!--[if gt IE 8]><!-->
    <%= javascript_include_tag "ie9" %>
      <script>
          $(document).foundation();
      </script>
  <!--<![endif]-->
</html>


