<!DOCTYPE html>
<html>
<head>
  <title>Landshark</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "mainnav_dropdown" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/mainnav' %>
  <div class="container-fluid">
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>