<!DOCTYPE html>
<html>
  <head>
    <title>Promptly</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!--[if lt IE 9]>
      <%= stylesheet_link_tag 'ie', :media => 'all' %>
    <![endif]-->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  </head>

  <body>
    <%= render 'shared/mainnav' %>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="notice">
          <div><%= notice %></div>
          <div><%= alert %></div>
        </div>
      </div>

      <div class="row-fluid">
        <% if content_for? :content %>
          <%= yield :content %>
        <% else %>
          <div id="content" class="span12">
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
