<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <!--[if lt IE 9]>
    <%= stylesheet_link_tag 'ie', :media => 'all' %>
    <![endif]-->
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://pure-garden-9104.herokuapp.com/css/postcode_main.css' rel='stylesheet' type='text/css'>

  </head>

  <body>
     <%= render 'shared/mainnav' %>

      <div class="row">
        <div class="notice">
          <div><%= notice %></div>
          <div><%= alert %></div>
        </div>
      </div>

      <div class="row">
        <% if content_for? :organization %>
          <%= yield :organization %>
        <% elsif content_for? :admin %>
          <%= yield :admin %>
        <% else %>
          <div id="content">
            <%= yield %>
          </div>
        <% end %>
      </div>

    <%= render 'shared/footer' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>


